@model ForgotPasswordViewModel
<style>
    main {
        padding-top: 100px !important;
        min-height: 100vh;
    }
</style>
<main>
<h2>忘記密碼</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">傳送重設連結</button>
</form>
</main>